* {
    box-sizing: border-box;
}

body{
    /*background: linear-gradient(200deg, rgba(0,0,0,1) 0%, rgba(29,2,36,1) 100%);*/
    background-image: url(img/back.jpg);
    background-color: rgb(30, 38, 55);
    background-attachment: scroll;
    background-size: cover;
    color: white;
    background-blend-mode: overlay;
}

.hidden {
    display: none;
}

#loadingScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 183, 238); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    z-index: 1000; /* Garantir que fique acima de outros conteúdos */
    opacity: 1; /* Opacidade inicial (visível) */
    transition: opacity 2s ease /* Transição de opacidade e visibilidade */
}

/* Animação de carregamento (círculo giratório) */
.loader {
    border: 8px solid #f3f3f3; /* Cor do fundo */
    border-top: 8px solid #3498db; /* Cor do círculo giratório */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

/* Animação de rotação do loader */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.w3-content{
    display: flex;
    justify-content: center;
    max-width: 30%;
    min-width: 40vw; 
    height: 500px; 
    padding-top: 30px;
}
.mySlides {
    display:none; 
    height: 100%;
    box-shadow: 12px 12px 8px 0 rgb(0 0 0 / 35%), 14px 9px 20px 0 rgba(0, 0, 0, 0.19);
}
.w3-left, .w3-right, .w3-badge {
    cursor:pointer;
    font-size: 2rem;
}
.w3-badge {height:13px;width:13px;padding:0}
.card-base{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
.w3-card{
    width: 9rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffffff00;
    margin: 10px;
    background-color: #2f2f2f87;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 12px 5px 8px 0 rgba(0, 0, 0, 0.2), 2px -3px 20px 0 rgba(0, 0, 0, 0.19);
}
#texto{text-align: center;}


.falling-heart {
    position: absolute;
    top: -50px; /* Começa fora da tela */
    width: 30px;
    height: 30px;
    background-image: url('img/red-heart-icon.png'); /* Coração em formato SVG */
    background-size: cover;
    animation: fall 3s infinite linear;
}

h2{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0px;
}


@keyframes fall {
    0% {
        top: -50px;
        opacity: 1;
    }
    100% {
        top: 90vh; /* Atinge o final da tela */
        opacity: 0;
    }
}

@media (max-width: 1000px) {
    .w3-content{
        max-width: 90%;
        height: 400px;
    }
    .card-base{
        margin: 0px
    }
}